:local {
  .newItem {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    cursor: pointer;

    &.leave {
      animation: slideOutLeft 0.8s ease-in-out 0s 1 normal both;
    }

    .newItemPinkLane {
      animation: slideInLeft 1.75s ease-in-out 0s 1 normal both;
      height: 20vh;
      width: 85%;
      left: 10%;
      top: 25%;
      position: relative;
      opacity: 0.85;
      transform: skewX(-20deg);
      background-color: lighten(desaturate(#f0f, 50), 10);
    }

    .newItemYellowLane {
      animation: slideInRight 1.85s ease-in-out 0s 1 normal both;
      height: 15vh;
      width: 75%;
      top: 35%;
      left: 20%;
      position: relative;
      opacity: 0.85;
      transform: skewX(-20deg);
      background-color: lighten(desaturate(#ff0, 50), 10);
    }

    .newItemGreenLane {
      box-shadow: 0 4px 0 5px lighten(desaturate(#ff0, 50), 10), 0 -4px 0 10px lighten(desaturate(#f0f, 50), 10);
      animation: slideInLeft 1.5s ease-in-out 0s 1 normal forwards;
      height: 20vh;
      width: 80%;
      top: 5%;
      left: 13%;
      opacity: 0.85;
      position: relative;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: skewX(20deg);
      background-color: rgb(101, 235, 206);
    }
  }

  @keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0) skewX(-15deg);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0) skewX(-15deg);
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0) skewX(-15deg);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0) skewX(-15deg);
    }
  }

  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1) skewX(-15deg);
    }

    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
      transform: scale3d(1, 1, 1) skewX(-15deg);
    }
  }

  @keyframes fadeOutUp {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }

  @keyframes slideOutLeft {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    to {
      visibility: hidden;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
}
